<li class="movie-card">
    <img src="{{poster_path}}" alt="" class="movie-card__poster">
    <div class="movie-card__rating">{{vote_average}}/10</div>
    <h2 class="movie-card__title">{{title}}</h2>
    <p class="movie-card__description">{{overview}}</p>
</li>